<footer class="contener">
    <div class="borier">
        <div class="borier1"></div>
        <div class="borier2"></div>
    </div>
    <div class="footer">
        <div class="center">
            <div class="left">
                <a class="link" to="">Календарь мероприятий</a>
                <a class="link" to="">Провести мероприятие</a>
                <a class="link" to="">Стать арендатором</a>
                <a class="link" to="">Наши проекты</a>
                <a class="" to="">Контакты</a>
            </div>
            <div class="right">
                <p>Подпишись и будь в курсе происходящего</p>
                <div class="form">
                    <div class="input_button">
                        <input type="text" placeholder="Email">
                        <button class="text-button-black">Подписаться</button>
                    </div>
                    <div class="checkbox">
                        <input class="mark" type="checkbox">
                        <label>Соглащение на обработку данных</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="under">
            <div class="politik">
                <div class="side">
                    <p>© Millennials 2022</p>
                    <a href="">Политика конфидициальности</a>
                </div>
                <p>Cookis</p>
            </div>
            
            <div>
                <button class="button_svg">
                    <svg class="user">
                        <use xlink:href="assets/icons/symbols.svg#Subtract (1)"></use>
                    </svg>
                </button>
                
                <button class="button_svg">
                    <svg class="user">
                        <use xlink:href="assets/icons/symbols.svg#Subtract"></use>
                    </svg>
                </button>
            </div>
            
            
            <div class="tagree">
                <p>Создание и продвижение</p>
                <img class="img_tagree" src="assets/images/tagree.svg" alt="">
            </div>
        </div>
    </div>
</footer>

