
<div class="contact_shell contener">
    <h2 class="dark_title"> КОНТАКТЫ</h2>
    <div class="contact ">
        <div class="contact_items">
            <div class="contact_item">
                <img src="assets/images/Contact/location.svg" alt="">
                <div class="contact_text">
                    <p>Томск, Белая 8</p>
                    <p>2 этаж</p>
                    <p>оф. 207-208</p>
                </div>
            </div>
            <div class="contact_item">
                <img src="assets/images/Contact/home.svg" alt="">
                <div class="contact_text">
                    <p>Отдел аренды</p>
                    <p>+7 499 350 0730</p>
                    <p>hi@tagree.ru</p>
                </div>
            </div>
            <div class="contact_item">
                <img src="assets/images/Contact/star (1).svg" alt="">
                <div class="contact_text">
                    <p>Отдел мероприятий</p>
                    <p>+7 499 350 0730</p>
                    <p>hi@tagree.ru</p>
                </div>
            </div>
        </div>
        <div class="frame" id="js-contactsMap"></div>
    </div>
</div>