<section class="information @@class">
  <div class="information__container">
    <div class="information__wrapper">
      <div class="information__items">
        <div class="information-item">
          <div class="information-item__img">
            <svg class="information-item__icon" width="110" height="110">
              <use xlink:href="assets/icons/symbols.svg#information"></use>
            </svg>
          </div>
          <div class="information-item__content">
            <h3 class="information-item__title">Цены</h3>
            <p class="information-item__info">
              Цены, указанные на сайте носят информационный характер. Мы
              придерживаемся индивидуального подхода в работе с клиентом.
            </p>
          </div>
        </div>

        <div class="information-item">
          <div class="information-item__img">
            <svg class="information-item__icon" width="110" height="110">
              <use xlink:href="assets/icons/symbols.svg#contact"></use>
            </svg>
          </div>
          <div class="information-item__content">
            <h3 class="information-item__title">Контакты</h3>
            <p class="information-item__info">Отдел организации мероприятий</p>
            <a href="tel:74993500730" class="information-item__info">
              +7 499 350 0730
            </a>
            <a href="mailto:hi@tagree.ru" class="information-item__info">
              hi@tagree.ru
            </a>
          </div>
        </div>

        <div class="information-item">
          <div class="information-item__img">
            <svg class="information-item__icon" width="110" height="110">
              <use xlink:href="assets/icons/symbols.svg#handshake"></use>
            </svg>
          </div>
          <div class="information-item__content">
            <h3 class="information-item__title">Преимущество</h3>
            <p class="information-item__info">
              Мы имеем все возможности для того, чтобы помочь как малому бизнесу
              и молодым талантам, так и большим корпорациям и холдингам.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
