@margin_sabtitle: 150px;
@margin_100px: 100px;
@marfin_200px: 200px;

@color_red: #BC3324;
@color_darkred: #A51505;
@color_black: #1F1E1E;
@color_white: #ffff;
@color_gray: #DEDEDE80;
@color_white_gray:#BFBFBF;

@bw370: ~"(max-width: 369px)";
@bw400: ~"(max-width: 399px)";
@bw500: ~"(max-width: 499px)";
@bw600: ~"(max-width: 599px)";
@bw650: ~"(max-width: 649px)";
@bw700: ~"(max-width: 699px)";
@bw768: ~"(max-width: 767px)";
@bw800: ~"(max-width: 799px)";
@bw960: ~"(max-width: 959px)";
@bw1020: ~"(max-width: 1019px)";
@bw1170: ~"(max-width: 1169px)";
@bw1340: ~"(max-width: 1339px)";
@bw1660: ~"(max-width: 1659px)";

@w1020: ~"(min-width: 1020px)";
@w650: ~"(min-width: 650px)";

@white: #ffffff;

@black: #1f1e1e;
@black_80: fade(@black, 80%);
@black_40: fade(@black, 40%);

@red: #bc3324;
@red_dark: #a51505;

@gray: #dedede;
@gray_dark: #bfbfbf; 

@font-face {
    font-family: "Mak";
    font-weight: 400;
    font-style: normal;
    src: url("/assets/fonts/MAK.otf") ;
}
@fontSans: "Open Sans", sans-serif;
@fontLora: "Lora", serif;
@fontMak: "mak", serif;