<header>
    <div class="sthell contener">
        <a href="index.html" class="sthell__link">
            <svg class="logo">
                <use xlink:href="assets/icons/symbols.svg#logo"></use>
            </svg> 
        </a>
        
        <nav id="navbar">
            <a href="event.html">Мероприятия</a>
            <a href="">Блог</a>
            <a href="">О Нас</a>
            <a href="">Контакты</a>
        </nav>
        <div class="header_right_button" id="header_right_button">
            <button class="text-button-white">Войти</button>
        </div>
        <div class="burger-menu-shell">
            <button class="button_svg">
                <svg class="user">
                    <use xlink:href="assets/icons/symbols.svg#user_header"></use>
                </svg>
            </button>

            <div class="menu">
                <span class="line one"></span>
                <span class="line two"></span>
                <span class="line three"></span>
            </div>
        </div>
    </div>
</header>

