header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 11;
    background: #DEDEDE80;
    backdrop-filter: blur(10px);
}
.sthell{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.burger-menu-shell{
    display: flex;
    align-items: center;
}
nav a{
    margin: 0 25px;
}
.user{
    display: none;
}

@media screen and (max-width :1380px){
    .sthell .logo{
        width: 152px;
        height: 111px;
    }
}
@media screen and (max-width :768px) {
    .user{
        display: block;
        margin-right: 47px;
    }
    .burger-menu {
        margin-right:30px ;
        display: block;
        height: 14px;
        width: 24px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .burger-menu .line {
        width: 100%;
        height: 2px;
        border-radius: 1px;
        background: black;
    }

    .burger-menu .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .burger-menu .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .burger-menu .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }

    .burger-menu.opened .line1 {
        transform: rotate(45deg);
    }

    .burger-menu.opened .line2 {
        transform: scaleY(0);
    }

    .burger-menu.opened .line3 {
        transform: rotate(-45deg);
    }
    nav{
        display: none;
    }
    .sthell button{
        display: none;
    }
}
@media screen and (max-width :320px) {
    .user{    
        margin-right: 30px;
    }
    .burger-menu{
        margin-right:20px ;
    }
    .sthell .logo {
        width: 96px;
        height: 70px;
    }
    header .sthell{
        padding: 0px;
    }
}