<div class="contener blog-block">
    <h2 class="dark_title"> Блог</h2>
    <section>
    <div class="items_block">
        <div class="item_block">
            <img src="assets/images/Blog/PHOTOSESSION.jpg" alt="">
            <div class="slider_text">
                <p class="slider_text_up">26.11.2022</p>
                <a href="">Фотосессия в стенах Театра драмы</a>
                <div class="slider_text_doun">
                    <p>Организовывая фотосессию для локального бренда одежды мы смогли воплотить все пожелания заказчика
                        и у нас получилась
                        отличная работа. Смотрите как это было</p>
                    <button class="button_svg">
                        <svg>
                            <use xlink:href="assets/icons/symbols.svg#link"></use>
                        </svg>
                    </button>
                </div>

            </div>
        </div>
        <img class="img_line" src="assets/images/Blog/line.svg" alt="">
    </div>
    <div class="items_block">
        <div class="item_block">
            <img src="assets/images/Blog/PHOTOSESSION.jpg" alt="">
            <div class="slider_text">
                <p class="slider_text_up">26.11.2022</p>
                <a href="">Фотосессия в стенах Театра драмы</a>
                <div class="slider_text_doun">
                    <p>Организовывая фотосессию для локального бренда одежды мы смогли воплотить все пожелания заказчика
                        и у
                        нас получилась
                        отличная работа. Смотрите как это было</p>
                    <button class="button_svg">
                        <svg>
                            <use xlink:href="assets/icons/symbols.svg#link"></use>
                        </svg>
                    </button>
                </div>

            </div>
        </div>
        <img class="img_line" src="assets/images/Blog/line.svg" alt="">
    </div>
    <div class="items_block">
        <div class="item_block">
            <img src="assets/images/Blog/PHOTOSESSION.jpg" alt="">
            <div class="slider_text">
                <p class="slider_text_up">26.11.2022</p>
                <a href="" >Фотосессия в стенах Театра драмы</a>
                <div class="slider_text_doun">
                    <p>Организовывая фотосессию для локального бренда одежды мы смогли воплотить все пожелания заказчика
                        и у
                        нас получилась
                        отличная работа. Смотрите как это было</p>
                    <button class="button_svg">
                        <svg>
                            <use xlink:href="assets/icons/symbols.svg#link"></use>
                        </svg>
                    </button>
                </div>

            </div>
        </div>
    </div>
    <div class="block_loock">
        <a href="#">Смотрить</a>
    </div>
    </section>
</div>
