<div class="look_block contener">
    <img src="assets/images/hole.jpg" alt="">
    <div class="look_block_right">
        <p class="look_title">Мы уже успешно организовали и провели более 100 проектов. Посмотрите, как это было классно.</p>
        <div class="look_inside">
            <p class="subtitle_5">Смотреть</p>
            <button class="button_svg">
                <svg>
                    <use xlink:href="assets/icons/symbols.svg#link"></use>
                </svg>
            </button>
        </div>
    </div>
</div>
